doctype html
html(class="no-js", lang="en", ng-app="SimpleWeather")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title="Weather"

        link(rel="stylesheet", type="text/css", href="lib/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="lib/css/foundation.css")
        link(rel="stylesheet", type="text/css", href="style.css")

        block styles

    body(ng-controller="WeatherCtrl")

        block content

        block scripts
