footer.small-12
    p
        | Made by
        a(href='https://www.facebook.com/ian.wang.54', target='_blank') Ian Wang
        | &
        a(href='https://www.facebook.com/dca.hsu', target='_blank') Dca Hsu
      p
        | Inspired by
        a(href='https://www.facebook.com/taylor.hu.5', target='_blank') Taylor Hu
      p  to be continued...

